h1 {
    text-align: center;
    margin:  90px auto;
    color: #292929;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
  }

p{
    font-size: 17px;
    color: #292929;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
 

  .container img{
    max-width:60%; /* img is responsive thanks to it*/
    
    display:block; /*imgs are inline element, to center it I need to swtich to the block display mode*/
    margin: 0 auto; /*center the image correctly*/
    border-radius: 20px;
  }